* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 100%;
    font-family: 'Fredoka One', sans-serif;
    height: 100vh;
}

img {
    width: 100%;
    height: auto;
}

.wrapper {
    width: 90%;
    margin: 1.875rem auto;
    background-color: blueviolet;
}

.arena {
    display: flex;
}

.text {
    text-align: center;
    size: 1.5rem;
}

.text-player {
    margin-top: 0.625rem;
}

.side {
    flex: 50%;
}

.card {
    width: 100px;
}

.choices {
    text-align: center;
}

#chosen {
    display: block;
    width: 200px;
    margin: 1.875rem auto;
}


